# Charger les fichiers

In [575]:



import pandas as pd
import numpy as np

In [576]:
path = 'Data_use_case_Yelp/'

restaurants_file = path + 'restaurants.csv'
checkin_file = path + 'checkin.csv'
review_file = path + 'review.csv'
tip_file = path + 'tip.csv'
user_file = path + 'user.csv'
hours_file = path + 'hours.csv'

In [577]:
business = pd.read_csv(restaurants_file, on_bad_lines='skip',low_memory=False)
user = pd.read_csv(user_file, on_bad_lines='skip', low_memory=False)
review = pd.read_csv(review_file, on_bad_lines='skip',low_memory=False)
checkin = pd.read_csv(checkin_file, on_bad_lines='skip',low_memory=False)
tip = pd.read_csv(tip_file, on_bad_lines='skip',low_memory=False)
hours = pd.read_csv(hours_file, on_bad_lines='skip',low_memory=False)

## Nettoyage de code, filtrage et plus

In [578]:
#Colonnes à garder
cols_to_keep = [
    "business_id", "name", "city", "state","longitude", "latitude",
    "stars", "review_count", "attributes", "categories", "is_open"
]
business = business[cols_to_keep]

business.head()

,business_id,name,city,state,longitude,latitude,stars,review_count,attributes,categories,is_open
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",Santa Barbara,CA,-119.711197,34.426679,5.0,7,NaN,"Doctors, Traditional Chinese Medicine, Naturop...",0
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,-90.335695,38.551126,3.0,15,NaN,"Shipping Centers, Local Services, Notaries, Ma...",1
2,tUFrWirKiKi_TAnsVWINQQ,Target,Tucson,AZ,-110.880452,32.223236,3.5,22,NaN,"Department Stores, Shopping, Fashion, Home & G...",0
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,-75.155564,39.955505,4.0,80,NaN,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,-75.471659,40.338183,4.5,13,NaN,"Brewpubs, Breweries, Food",1

In [579]:

#Nettoyer Business
business = business.dropna(subset=["stars", "categories", "latitude", "longitude"])

business.head()

,business_id,name,city,state,longitude,latitude,stars,review_count,attributes,categories,is_open
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",Santa Barbara,CA,-119.711197,34.426679,5.0,7,NaN,"Doctors, Traditional Chinese Medicine, Naturop...",0
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,-90.335695,38.551126,3.0,15,NaN,"Shipping Centers, Local Services, Notaries, Ma...",1
2,tUFrWirKiKi_TAnsVWINQQ,Target,Tucson,AZ,-110.880452,32.223236,3.5,22,NaN,"Department Stores, Shopping, Fashion, Home & G...",0
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,-75.155564,39.955505,4.0,80,NaN,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,-75.471659,40.338183,4.5,13,NaN,"Brewpubs, Breweries, Food",1

In [580]:
#Nettoyer Review
review_cols = ["business_id", "user_id", "stars", "cool", "funny", "useful", "date"]
review = review[review_cols]

review = review.dropna(subset=["business_id", "user_id", "stars"])
review["date"] = pd.to_datetime(review["date"], errors="coerce")
review = review[review["date"].notna()]

review.head()

,business_id,user_id,stars,cool,funny,useful,date
0,T3muepcwD45gHLWcpaNNDQ,fr1Hz2acAb3OaL3l6DyKNg,4,7,1,5,2016-12-04 05:36:48
1,9gObo5ltOMo6UgsaXaHPWA,JggphOM7FIbvUyPcsfcNTw,5,2,2,5,2015-09-24 00:57:49
2,WmzwJXyBdqsZCZ254XDrtQ,_LG_1zjLB8gWjN294Xjc5Q,5,1,0,0,2016-08-03 22:50:36
3,_TANOcxwIOmQhk1mnXaj7w,dMrmnopCJ0xxEuG7WMCtWw,1,0,0,0,2015-04-15 17:11:10
4,WW8WN8J89M3U4z1xP4MhnA,3x69a8OGyReKirigOk8Nww,4,0,0,1,2017-06-28 00:33:19

In [581]:
#Nettoyer Users
user_cols = ["user_id", "name", "elite", "review_count", "average_stars"]
user = user[user_cols]
user["elite"] = user["elite"].fillna("")

user.head()

,user_id,name,elite,review_count,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,2007,585,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",4333,3.74
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,"2009,2010,2011,2012,2013",665,3.32
3,SZDeASXq7o05mMNLshsdIA,Gwen,"2009,2010,2011",224,4.27
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,,79,3.54

In [582]:
#Fichier tip corrompu 
tip = pd.read_json("Data_use_case_Yelp/tip.csv", lines=True)

#Nettoyage TIP 
tip_cols = ["user_id", "business_id", "text", "date", "compliment_count"]
tip = tip[tip_cols]

tip.head()

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [583]:
#Nettoyer Hours
hour_cols = [
    "hours_Monday","hours_Tuesday","hours_Wednesday",
    "hours_Thursday","hours_Friday","hours_Saturday","hours_Sunday"
]

#Retirer les lignes où toutes les heures sont vides
hours = hours.dropna(subset=hour_cols, how="all")

#Garder uniquement business_id et les colonnes d'heures
hours_cols_keep = ["business_id"] + hour_cols
hours = hours[hours_cols_keep]

hours.head()

,business_id,hours_Monday,hours_Tuesday,hours_Wednesday,hours_Thursday,hours_Friday,hours_Saturday,hours_Sunday
1,mpf3x-BjTdTEA3yCZrAYPw,0:0-0:0,8:0-18:30,8:0-18:30,8:0-18:30,8:0-18:30,8:0-14:0,NaN
2,tUFrWirKiKi_TAnsVWINQQ,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-23:0,8:0-23:0,8:0-22:0
3,MTSW4McQd7CbVtyjqoe9mw,7:0-20:0,7:0-20:0,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0
4,mWMc6_wTdE0EUBKIGXDVfA,NaN,NaN,14:0-22:0,16:0-22:0,12:0-22:0,12:0-22:0,12:0-18:0
5,CF33F8-E6oudUQ46HnavjQ,0:0-0:0,6:0-22:0,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0

In [584]:
#Nettoyer Checkin
checkin["date"] = checkin["date"].fillna("").str.strip()
checkin["date_list"] = checkin["date"].apply(lambda x: x.split(",") if x != "" else [])

checkin.head()

,business_id,date,date_list
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...","[2020-03-13 21:10:56, 2020-06-02 22:18:06, 2..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...","[2010-09-13 21:43:09, 2011-05-04 23:08:15, 2..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22","[2013-06-14 23:29:17, 2014-08-13 23:20:22]"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...","[2011-02-15 17:12:00, 2011-07-28 02:46:10, 2..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...","[2014-04-21 20:42:11, 2014-04-28 21:04:46, 2..."

In [585]:
#Nettoyer Hours
hour_cols = ["hours_Monday","hours_Tuesday","hours_Wednesday",
             "hours_Thursday","hours_Friday","hours_Saturday","hours_Sunday"]
hours = hours.dropna(subset=hour_cols, how="all")

hours.head()

,business_id,hours_Monday,hours_Tuesday,hours_Wednesday,hours_Thursday,hours_Friday,hours_Saturday,hours_Sunday
1,mpf3x-BjTdTEA3yCZrAYPw,0:0-0:0,8:0-18:30,8:0-18:30,8:0-18:30,8:0-18:30,8:0-14:0,NaN
2,tUFrWirKiKi_TAnsVWINQQ,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-23:0,8:0-23:0,8:0-22:0
3,MTSW4McQd7CbVtyjqoe9mw,7:0-20:0,7:0-20:0,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0
4,mWMc6_wTdE0EUBKIGXDVfA,NaN,NaN,14:0-22:0,16:0-22:0,12:0-22:0,12:0-22:0,12:0-18:0
5,CF33F8-E6oudUQ46HnavjQ,0:0-0:0,6:0-22:0,6:0-22:0,6:0-22:0,9:0-0:0,9:0-22:0,8:0-22:0

In [586]:
#Nettoyer catégories
business["categories_list"] = business["categories"].str.split(", ")

business.head()

,business_id,name,city,state,longitude,latitude,stars,review_count,attributes,categories,is_open,categories_list
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",Santa Barbara,CA,-119.711197,34.426679,5.0,7,NaN,"Doctors, Traditional Chinese Medicine, Naturop...",0,"[Doctors, Traditional Chinese Medicine, Naturo..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,-90.335695,38.551126,3.0,15,NaN,"Shipping Centers, Local Services, Notaries, Ma...",1,"[Shipping Centers, Local Services, Notaries, M..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,Tucson,AZ,-110.880452,32.223236,3.5,22,NaN,"Department Stores, Shopping, Fashion, Home & G...",0,"[Department Stores, Shopping, Fashion, Home & ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,-75.155564,39.955505,4.0,80,NaN,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1,"[Restaurants, Food, Bubble Tea, Coffee & Tea, ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,-75.471659,40.338183,4.5,13,NaN,"Brewpubs, Breweries, Food",1,"[Brewpubs, Breweries, Food]"

In [587]:
#Extraire prix depuis attributes
def prix(attribut):
    if isinstance(attribut, dict):
        return attribut.get("RestaurantsPriceRange2")
    return None
business["price"] = business["attributes"].apply(prix)
business["price"] = pd.to_numeric(business["price"], errors="coerce")

business.head()

,business_id,name,city,state,longitude,latitude,stars,review_count,attributes,categories,is_open,categories_list,price
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",Santa Barbara,CA,-119.711197,34.426679,5.0,7,NaN,"Doctors, Traditional Chinese Medicine, Naturop...",0,"[Doctors, Traditional Chinese Medicine, Naturo...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,-90.335695,38.551126,3.0,15,NaN,"Shipping Centers, Local Services, Notaries, Ma...",1,"[Shipping Centers, Local Services, Notaries, M...",NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,Tucson,AZ,-110.880452,32.223236,3.5,22,NaN,"Department Stores, Shopping, Fashion, Home & G...",0,"[Department Stores, Shopping, Fashion, Home & ...",NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,-75.155564,39.955505,4.0,80,NaN,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1,"[Restaurants, Food, Bubble Tea, Coffee & Tea, ...",NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,-75.471659,40.338183,4.5,13,NaN,"Brewpubs, Breweries, Food",1,"[Brewpubs, Breweries, Food]",NaN

In [588]:
#Garder seulement restaurants ouverts
business = business[business["is_open"] == 1]

business.head()

,business_id,name,city,state,longitude,latitude,stars,review_count,attributes,categories,is_open,categories_list,price
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,-90.335695,38.551126,3.0,15,NaN,"Shipping Centers, Local Services, Notaries, Ma...",1,"[Shipping Centers, Local Services, Notaries, M...",NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,-75.155564,39.955505,4.0,80,NaN,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1,"[Restaurants, Food, Bubble Tea, Coffee & Tea, ...",NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,-75.471659,40.338183,4.5,13,NaN,"Brewpubs, Breweries, Food",1,"[Brewpubs, Breweries, Food]",NaN
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,TN,-87.058943,36.269593,2.0,6,NaN,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",1,"[Burgers, Fast Food, Sandwiches, Food, Ice Cre...",NaN
6,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,Brentwood,MO,-90.340465,38.627695,2.5,13,NaN,"Sporting Goods, Fashion, Shoe Stores, Shopping...",1,"[Sporting Goods, Fashion, Shoe Stores, Shoppin...",NaN

In [589]:
#Garder uniquement vraie nourriture/restaurants
business = business[
    business["categories"].str.contains(
        "Restaurant|Food|Pizza|Burgers|Bar|Cafe|Coffee",
        case=False, na=False)
]

business.head()

,business_id,name,city,state,longitude,latitude,stars,review_count,attributes,categories,is_open,categories_list,price
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,-75.155564,39.955505,4.0,80,NaN,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",1,"[Restaurants, Food, Bubble Tea, Coffee & Tea, ...",NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,-75.471659,40.338183,4.5,13,NaN,"Brewpubs, Breweries, Food",1,"[Brewpubs, Breweries, Food]",NaN
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,TN,-87.058943,36.269593,2.0,6,NaN,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",1,"[Burgers, Fast Food, Sandwiches, Food, Ice Cre...",NaN
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,TN,-86.768170,36.208102,1.5,10,NaN,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",1,"[Ice Cream & Frozen Yogurt, Fast Food, Burgers...",NaN
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,-82.456320,27.955269,4.0,10,NaN,"Vietnamese, Food, Restaurants, Food Trucks",1,"[Vietnamese, Food, Restaurants, Food Trucks]",NaN

## Vérifier les types

In [590]:
business["longitude"] = business["longitude"].astype(float)
business["latitude"] = business["latitude"].astype(float)
business["stars"] = business["stars"].astype(float)
business["review_count"] = business["review_count"].astype(int)
business["attributes"] = business["attributes"].astype(str)
business["is_open"] = business["is_open"].astype(int)
business["price"] = business["price"].astype("float64")

In [591]:
business.dtypes

business_id         object
name                object
city                object
state               object
longitude          float64
latitude           float64
stars              float64
review_count         int64
attributes          object
categories          object
is_open              int64
categories_list     object
price              float64
dtype: object

In [592]:
review["business_id"] = review["business_id"].astype(str)
review["user_id"] = review["user_id"].astype(str)
review["stars"] = review["stars"].astype(float)
review["cool"] = review["cool"].astype(int)
review["funny"] = review["funny"].astype(int)
review["useful"] = review["useful"].astype(int)
review["date"] = pd.to_datetime(review["date"], errors="coerce")

In [593]:
review.dtypes

business_id            object
user_id                object
stars                 float64
cool                    int64
funny                   int64
useful                  int64
date           datetime64[ns]
dtype: object

In [594]:
user["user_id"] = user["user_id"].astype(str)
user["name"] = user["name"].astype(str)
user["elite"] = user["elite"].astype(str)
user["review_count"] = user["review_count"].astype(int)
user["average_stars"] = user["average_stars"].astype(float)

In [595]:
user.dtypes

user_id           object
name              object
elite             object
review_count       int64
average_stars    float64
dtype: object

In [596]:
hours["business_id"] = hours["business_id"].astype(str)
for col in hour_cols:
    hours[col] = hours[col].astype(str)

In [597]:
hours.dtypes

business_id        object
hours_Monday       object
hours_Tuesday      object
hours_Wednesday    object
hours_Thursday     object
hours_Friday       object
hours_Saturday     object
hours_Sunday       object
dtype: object

In [598]:
checkin["business_id"] = checkin["business_id"].astype(str)

In [599]:
checkin.dtypes

business_id    object
date           object
date_list      object
dtype: object

In [600]:
tip["user_id"] = tip["user_id"].astype(str)
tip["business_id"] = tip["business_id"].astype(str)
tip["text"] = tip["text"].astype(str)
tip["compliment_count"] = tip["compliment_count"].astype(int)
tip["date"] = pd.to_datetime(tip["date"], errors="coerce")

In [601]:
tip.dtypes

user_id                     object
business_id                 object
text                        object
date                datetime64[ns]
compliment_count             int64
dtype: object

##  les jointures et les indicateurs

In [602]:
##### Compter combien il y a de réstaurant avec le meme nom #####
countingName = business["name"].value_counts()
business["is_chain"] = business["name"].map(countingName >= 3)

In [603]:
##### Compter le nombre de fois que le business apparait dans review #####
review_count = review["business_id"].value_counts().reset_index()
review_count.columns = ["business_id", "review_count_total"]

business = business.merge(
    review_count,
    on="business_id",
    how="left"
)
## Nettoyage
business["review_count_total"] = business["review_count_total"].fillna(0).astype(int)

In [604]:

##### Calculer le nombre de check in avec les dates #####
checkin["checkins_total"] = checkin["date"].str.count(",") + 1
checkin["checkins_total"] = checkin["checkins_total"].fillna(0).astype(int)

business = business.merge(
    checkin[["business_id", "checkins_total"]],
    on="business_id",
    how="left"
)
## Nettoyage
business["checkins_total"] = business["checkins_total"].fillna(0).astype(int)

In [605]:
##### Ratio avis positif avec +4 stars #####
total_reviews = review.groupby("business_id")["stars"].count()
positive_reviews = review[review["stars"] >= 4].groupby("business_id")["stars"].count()

positive_ratio = (positive_reviews / total_reviews).fillna(0).reset_index()
positive_ratio.columns = ["business_id", "positive_ratio"]

business = business.merge(
    positive_ratio,
    on="business_id",
    how="left"
)

## Nettoyage
business["positive_ratio"] = business["positive_ratio"].fillna(0)

In [606]:
### Community 
eliteUsers_List = user[user["elite"] != "0"]["user_id"].tolist()
review["is_elite_reviewer"] = review["user_id"].isin(eliteUsers_List).astype(int)


elite_review_count = review.groupby("business_id")["is_elite_reviewer"].sum().reset_index()
elite_review_count.columns = ["business_id", "elite_review_count"]

business = business.merge(
    elite_review_count,
    on="business_id",
    how="left"
)
## Nettoyage
business["elite_review_count"] = business["elite_review_count"].fillna(0).astype(int)

In [607]:
## Test pour voir si tout fonctionne
business = business[
    (business["review_count_total"] > 0) |
    (business["checkins_total"] > 0) |
    (business["is_chain"] == True)
]

##### Dataframe final #####
df_merge = business[[
    "business_id",
    "name",
    "city",
    "price",
    "stars",
    "is_chain",
    "checkins_total",
    "review_count_total",
    "positive_ratio", 
    "elite_review_count", 
]].copy()

In [ ]:
## simple rename pour le avg_stars vu que la colonne restaurants donne déjà ca 
dataframe_final = df_merge.rename(columns={"stars": "avg_stars"})
dataframe_final.head()

,business_id,name,city,price,avg_stars,is_chain,checkins_total,review_count_total,positive_ratio,elite_review_count
10,sqSqqLy0sN8n2IZrAbzidQ,Domino's Pizza,White House,NaN,3.5,True,0,0,0.0,0
26,ppFCk9aQkM338Rgwpl2F5A,Wawa,Philadelphia,NaN,3.0,False,0,1,1.0,0
27,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,Santa Barbara,NaN,4.0,False,0,1,1.0,0
34,TLZ3-eDPLhUzfsWO4ad6Ug,Mahony's Po-Boys & Seafood,New Orleans,NaN,4.0,False,0,1,1.0,0
36,vje0KIiE7vtpx7JzmBx5LQ,The Pearl,Treasure Island,NaN,4.0,False,0,1,1.0,0